.btn    {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    width: 40px;
    &:hover {
        filter: brightness(1.2);
    }
}