@import '../../app/globals.scss';

.section    {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    p   {
        font-family: sans-serif;
        font-weight: bold;
    }
}

.h1 {
    color: $dle;
    font-weight: bold;
}