@import '../../app/globals.scss';

.footer {
    align-items: center;
    background-color: $ll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 25px;
    width: 100%;
}

.navBarBrand    {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    gap: 10px;
    justify-content: center;

    p   {
        margin: 0px;
    }
}

.links  {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navLink   {
    font-family: sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 10px;
    }
    .links  {
        flex-direction: column;
        gap: 10px;
    }
}